<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
 	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, width=device-width"/>
	<title>皓月直播</title>
	<script type="text/javascript">
		var roomid = {{.roomid}}   //roomid
		var themename = {{.themename}};			 //皮肤
		var codeid = {{.codeid}};   //加密公司代码和房间号
		
		try{
		    if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
		        window.location="/phone?roomid="+roomid;
		    }
		}catch(e){}
	</script>	
	<link rel="stylesheet" type="text/css" href="/static/lib/layer/skin/layer.css"/>
	<link rel="stylesheet" type="text/css" href="/static/css/newindex.css">
	<script type="text/javascript" src="/static/js/jquery-1.9.0.min.js"></script>
	<script type="text/javascript" src="/static/lib/socket/socket.io.js"></script>
	<script type="text/javascript" src="/static/lib/socket/json2.js"></script>
	<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/static/lib/socket/base64.js"></script>
	<script type="text/javascript" src="/static/lib/socket/newchat.js"></script>
	<script type="text/javascript" src="/static/js/jquery.uploadify.min.js"></script>
	<script type="text/javascript" src="/static/lib/socket/uploadfile.js"></script>
	<script type="text/javascript" src="/static/lib/layer/layer.min.js"></script>
	<script src="http://yuntv.letv.com/player/live/blive.js"></script>
</head>
<body>
	{{if eq true .IsLogin}}
		{{if eq true .roleInfoLen}}
			<span class="popup" style="z-index:999;display:none">
				<ul>
					{{range $k,$v :=.userRoleInfo}}
							<li>
								<div class={{.Remark}}>
									<span>{{.Title}}</span>
								</div>
							</li>
					{{end}}
				</ul>
			</span>
		{{end}}  
	{{end}}

	<input type="hidden" id="webUsername" name="webUsername" value={{.hideuserName}}></input>

	<div class="main">
		{{if eq true .IsLogin}}
		{{if eq true .roleInfoLen}}
		<span class="popup" style="z-index:999;display:none">
			<ul>
				{{range $k,$v :=.userRoleInfo}}
						<li>
							<div class={{.Remark}}>
								<span>{{.Title}}</span>
							</div>
						</li>
				{{end}}
			</ul>
		</span>
		{{end}}
		{{end}}
		<div class="left">
			<div class="left_logo">
				<img src="/static/images/newimg/logo.jpg" name="logo" width="100%" height="100%">
			</div>
			<div class="left_menu">
				<ul>
					<li class="menu01"><a href="#">设为桌面</a></li>
					<li class="menu02"><a href="#">财经日历</a></li>
					<li class="menu03"><a onclick="TeacherTeam();">名师团队</a></li>
					<li class="menu04"><a onclick="Course();">课程安排</a></li>
					<!-- <li class="menu03"><a href="#">设为桌面</a></li>
					<li class="menu04"><a href="#">设为桌面</a></li> -->
				</ul>
				<!-- <div class="menuone">
					<a href="#" class="open"><p>财富线</p></a>
					<a href="#" class="down"><p>软件下载</p></a>
				</div> -->
				<div class="newsone" id="newslistone">
					<div class="news_headone">
						<span class="news_head_left">名师在线</span>
						<span class="news_head_middle"><span class="news_head_middle_special"></span><span><!--在线--></span></span>
					</div>
					<div class="outer_news_ul">
						<ul>
						</ul>
					</div>
				</div>
				<div class="news" id="newslist">
					<div class="news_head">
						<span class="news_head_left">最新会员消息</span>
						<span class="news_head_middle"><span class="news_head_middle_special"></span><span><!--在线--></span></span>
					</div>	
					<div class="outer_news_ul">
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="center">
			<div class="theme">
				<span class="phone">热线电话：027-88888888</span>
				<div class="register">
				<!-- 登录之前 -->
				{{if eq false .IsLogin}}
					<a href="#" class="sign" onclick="UserLogin(2)"><span>注册</span></a>
					<span class="partition"></span>
					<a href="#" class="logi" onclick="UserLogin(1)"><span>登录</span></a>
					<span class="partition"></span>
					<span>你好游客:<span name="ykname"></span></span>
				{{else}}
				<!--登录之后 -->
					<a href="/logout" class="exit"><span>退出</span></a>
					<span class="partition"></span>
					<a class="Settings"  href="javascript:UserSet();"><span>设置</span></a>
					<span class="partition"></span>
					<span>{{.Msg}}:<span name="ykname">{{.userName}}</span></span>
				{{end}}
				</div>
			</div>
			<div class="play" id="playheight">
				
			</div>
			<div class="carousel">
				<div id="focus">
				     <ul> 
				       <li>
				        <div><a href="#" target="_parent"><img src="/static/images/teacher/top1.png"  width="100%" height="100%"/></a></div>
				       </li>
				       <li>
				        <div><a href="#" target="_parent"><img src="/static/images/teacher/top2.png"  width="100%" height="100%"/></a></div>
				       </li>
				      <li>
				        <div><a href="#" target="_parent"><img src="/static/images/teacher/top3.png"  width="100%" height="100%"/></a></div>
				      </li>
				      <li>
				        <div><a href="#" target="_parent"><img src="/static/images/teacher/top4.png"  width="100%" height="100%"/></a></div>
				      </li>
				      <li>
				        <div><a href="#" target="_parent"><img src="/static/images/teacher/top5.png"  width="100%" height="100%"/></a></div>
				      </li>
				      <li>
				        <div><a href="#" target="_parent"><img src="/static/images/teacher/top6.png"  width="100%" height="100%"/></a></div>
				      </li>
				    </ul>
			 	</div>
			</div>
		</div>
		
		<div class="right">
			<div class="Broadcast">
				<img src="/static/images/newimg/notice.png">
				<span>实况直播:</span>
				<marquee width=79%  scrollamount=2 behavior="scroll"  style="font-size:11pt; FONT-FAMILY:微软雅黑; margin-right:2%; color:#ffff00;margin-top:5px;float:left; letter-spacing: 1.5px;">欢迎来到皓月直播聊天室欢迎来到皓月直播聊天室欢迎来到皓月直播聊天室欢迎来到皓月直播聊天室欢迎来到皓月直播聊天室
				</marquee>
			</div>
			<div class="chat" id="chat_size">
				<ul id="chat_one">
				</ul>
				<ul id="chat_tow" style="display:none">
				</ul>
			</div>
			<div class="table">
				<span class="public">公聊</span>
				<span class="private">私聊</span>
			</div>
			<div class="right_bottom">
				<div class="consult">
					<span>点击咨询老师助理,</span>
					<span class="mianfei">免费</span>
					<span>领取投资宝典</span>
					<a href="#" class="draw">立刻领取</a>
					<a href="#" class="replace">更换马甲</a>
				</div>
				<div class="qqjt">
					<div class="top2-qq">
						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=297256375&amp;site=qq&amp;menu=yes"><img border="0" name="qqjiaotan" src="/static/images/newimg/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息" style=" height:100%; width: 100%;"></a>
					</div>
					<div class="top2-qq">
						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=297256375&amp;site=qq&amp;menu=yes"><img border="0" name="qqjiaotan" src="/static/images/newimg/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息" style=" height:100%; width: 100%;"></a>
					</div>
					<div class="top2-qq">
						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=297256375&amp;site=qq&amp;menu=yes"><img border="0" name="qqjiaotan" src="/static/images/newimg/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息" style=" height:100%; width: 100%;"></a>
					</div>
					<div class="top2-qq">
						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=297256375&amp;site=qq&amp;menu=yes"><img border="0" name="qqjiaotan" src="/static/images/newimg/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息" style=" height:100%; width: 100%;"></a>
					</div>
					<div class="top2-qq">
						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=297256375&amp;site=qq&amp;menu=yes"><img border="0" name="qqjiaotan" src="/static/images/newimg/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息" style=" height:100%; width: 100%;"></a>
					</div>
					<div class="top2-qq">		
						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=297256375&amp;site=qq&amp;menu=yes"><img border="0" name="qqjiaotan" src="/static/images/newimg/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息" style=" height:100%; width: 100%;"></a>
					</div>
					<div class="top2-qq">
						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=297256375&amp;site=qq&amp;menu=yes"><img border="0" name="qqjiaotan" src="/static/images/newimg/qq.png" alt="点击这里给我发消息" title="点击这里给我发消息" style=" height:100%; width: 100%;"></a>
					</div>	
				</div>
				<div class="right-img">
					<a href="#" class="imgbj face">
						<span class="imgborder">表情</span>
					</a>
					<div class="expression">
						 <table height="180" width="270">
			               	<tbody>
			                <tr>
			                </tr>
			           		</tbody>
			        	</table>
			        	<div>
							<a href="#" class="Default">默认</a>
							<a href="#" class="">叮当猫</a>
							<a href="#" class="">暴走漫画</a>
							<a href="#" class="">小恐龙</a>
						</div>
	            	</div>
	            	
					<a href="#" class="imgbj tupian">
						<span class="imgborder">图片</span>
					</a>
					<a href="#" class="imgbj gundong">
						<span class="imgborder">滚动</span>
					</a>
					<a href="#" class="imgbj qingping">
						<span class="imgborder">清屏</span>
					</a>
					<a href="#" class="imghf huanfu">
						<span class="imgborder">换肤</span>
						<span class="yellow "></span>
						<span class="blue hook"></span>
						<span class="purple "></span>
						<span class="gray "></span>
					</a>
				</div>

				<div class="import" contenteditable="true">

				</div>
				
				<div class="send">
					<img src="/static/images/newimg/send_hover.png" width="100%" height="100%">
				</div>
			</div>
		</div>
		<div class="bottom" id="bottom_size">
			分析师所发表言论只代表个人观点，仅供参考，投资有风险，入市需谨慎。
		</div>
	</div>

	<script src="/static/js/jquery.nicescroll.js"></script>
	<script type="text/javascript">
		function windowset(){
			FunLeftSet();
    		FunRightSet();
    		FunCenterSet();
    		FunControlscrollbar(".chat");
    		
    		windowbanner();
		}
		windowset();
		var resizeTimer = null;
		$(window).resize(function () {//当浏览器大小变化时
			if (resizeTimer) clearTimeout(resizeTimer);
    		resizeTimer = setTimeout(windowset,200);
		});
		setScrollstyle(".chat");
		
		function UserLogin(type){
	        layer.open({
	        	type : 2,
	            title: '用户登录',
	            shadeClose: true,
	            shade: [0.01],
	            area: ['500px', '450px'],
	            content : 'reglogin?type='+type
	        });
		}

		function UserSet(){
			 layer.open({
	        	type : 2,
	            title: '修改信息',
	            shadeClose: true,
	            shade: [0.01],
	            maxmin: true, 
	            area: ['700px', '600px'],
	            content : 'userupdate?codeid='+codeid
	        }); 
		}

		function TeacherTeam(){
			layer.open({
	        	type : 2,
	        	 title: '名师团队',
	            shadeClose: true,
	            shade: [0.01],
	            maxmin: true, 
	            area: ['1000px', '650px'],
	            content : 'teacherteam'
	        }); 
		}
		function Course(){
			layer.open({
	        	type : 2,
	        	 title: ' ',
	            shadeClose: true,
	            shade: [0.01],
	            maxmin: true, 
	            area: ['900px', '550px'],
	            content : 'courselist'
	        }); 
		}

		
	</script>
</body>
	
</html>
