<footer>
   <p>Copyright © 2016 武汉皓月浮光科技有限公司  <a target="_blank" href="http://www.ihaoyue.com">ihaoyue.com</a></p>
</footer>
</body>
</html>
<link rel="stylesheet" type="text/css" href="/static/css/footer.css"/>
<script type="text/javascript" src="/static/js/modernizr.min.js"></script>
<script type="text/javascript" src="/static/js/amazeui.ie8polyfill.js"></script>
<script type="text/javascript" src="/static/js/amazeui.js"></script>
<script type="text/javascript" src="/static/js/amazeui.widgets.helper.js"></script>