body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 970px;
}

.team{
	width: 100%;
	height: 600px;
	border:1px solid #ccc;
    background-color:rgb(247, 241, 235);
    border-radius: 3px;
}
.Achievements{
	width: 100%;
	float: left;
}
.Achievements span{
	margin-left: 50px;
	margin-top: -10;
}
.team_border{
	float: left;
	margin-top: 15px;
	width: 96%;
	margin-left: 2%;
}

.top{
	float: left;
	width: 100%;
	height: 50px;
}

.top span{
	float: left;
	color: white;
	font-size: 25px;
	margin-top: 10px;
	margin-left: 35px;
}

.top div{
	width: 15%;
	height: 50px;
	float: left;
	margin-right: 15px;
	background-color:rgba(38, 33, 40, 0.56);
	cursor: pointer;
}

.top div:hover{
	background-color:rgba(38, 33, 40, 0.89);
}
	
.bottom_top{
	float: left;
	width: 92%;
	height: 200px;
	margin-left: 38px;
	margin-top: 20px;
	border:1px dashed #f0c74d;
}
	
.bottom{
	float: left;
	width: 100%;
	height: 520px;
	border:1px solid #000;
}

.portrait{
	float: left;
	margin-top: 30px;
	margin-left: 30px;
	width: 150px;
	height: 150px;
	background: url(/static/images/newimg/name.png) no-repeat;
}	
.portrait span{
	margin-top: 105px;
	margin-left: 50px;
	float: left;
	font-family: "微软雅黑";
}
.bottom_top p{
	float: left;
	width: 70%;
	margin-left: 50px;
	margin-top: 30px;
}
.progress{
	float: left;
	width: 65%;
	height: 50px;
	background-color:#efe7e0;
	margin-left: 40px;
	margin-top: 20px;
}
.prog{
	float: left;
	width: 65%;
	height: 50px;
	background-color:#ecbd00;
}
.zan_point{
	float: left;
	margin-top: -20px;
	margin-left: 80px;
	cursor: pointer;
}
.introduce{
	float: left;
	width: 50%;
	margin-left: 40px;
	margin-top: 20px;
	font-size: 23px;
}
.schedule{
	float: left;
	margin-left: 40px;
	margin-top: 17px;
	font-size: 25px;
}