<link rel="stylesheet" href="/static/css/amazeui.datatables.css"/>
<style type="text/css">
    .am-alert{border-radius: 5px;padding:3px;}
    th{
        min-width: 100px;
    }
		.result-list a{
        margin-right: 0px;
    }
</style>
<div class="crumb-wrap">
    <div class="crumb-list"><i class="icon-font"></i><a href="/public/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name"><a href="/weserver/data/teacher_index">讲师管理</a></span><span class="crumb-step">&gt;</span><span class="crumb-name">讲师列表</span></div>
</div>
<div class="result-wrap">

        <div class="result-title">
            <div class="am-g">
                <div class="am-fl">
                    <div class="result-list am-form-inline am-form">
                        <div class="am-input-group">
                            <span class="am-input-group-btn">
                                <a href="/weserver/data/teacher_add" class="am-btn am-btn-success">添加讲师</a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="am-fr">
                    <div class="result-list am-form-inline am-form">
                        <div class="am-form-group">
                            <select id="doc-select-company" onchange="getRoomInfo()">
                                <option value="">-=所属公司=-</option>
                                <!--{{range $index ,$ele := .roonInfo}}
                                <option value="{{$ele.RoomId}}">{{$ele.RoomTitle}}</option>
                                {{end}}-->
                            </select>
                        </div>
                        <div class="am-form-group">
                            <select id="doc-select-room">
                                <option value="">-=所属房间=-</option>
                                <!--{{range $index ,$ele := .roonInfo}}
                                <option value="{{$ele.RoomId}}">{{$ele.RoomTitle}}</option>
                                {{end}}-->
                            </select>
                        </div>
                        <div class="am-input-group">
                            <a onclick="queryUser()" class="am-btn am-btn-primary">搜索</a>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="result-content">
            <table class="am-table am-table-bordered am-table-radius am-table-striped" width="100%" id="data-teacher-list">
                <thead>
                    <tr>
                        <th>公司名称</th>
                        <th>所属房间</th>
                        <th>讲师名称</th>
                        <th>讲师头像</th>
                        <th>讲师简介</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="data_body">
                    <tr>
                    </tr>
                </tbody>
            </table>
        </div>

</div>
<div class="am-modal am-modal-confirm" tabindex="-1" id="del-confirm">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">删除讲师</div>
    <div class="am-modal-bd">
      你，确定要删除这条记录吗？
    </div>
    <div class="am-modal-footer">
      <input value="" type="hidden" class="data-modal-del">
      <span class="am-modal-btn data-am-modal-cancel">取消</span>
      <span class="am-modal-btn data-am-modal-confirm" onclick="deleteModel()">确定</span>
    </div>
  </div>
</div>
<script src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    var oTable;
    $(function() {
        oTable = initTable();
        getCompanyInfo();
    });
    function getCompanyInfo() {
      $.ajax({
        url: '/weserver/common/getCompanyInfo',
        type: 'POST',
        success: function(data){
            console.log(data, 'data');
            var company = ["<option value=''>-=所属公司=-</option>"];
            for (var i = 0; i<data.CompanyList.length;i++){
                company.push("<option value="+data.CompanyList[i].Id+">-="+data.CompanyList[i].Company+"=-</option>");
            }
            $('#doc-select-company').html(company.join(''));
        }
      })
    }
		function getRoomInfo() {
      var companyId = document.getElementById("doc-select-company").value;
      $.ajax({
        url: '/weserver/common/getRoomInfo',
        type: 'POST',
        data: {
          CompanyId: parseInt(companyId, 10),
        },
        success: function(data){
            console.log(data, 'data');
            var room = ["<option value=''>-=所属房间=-</option>"];
            for (var i = 0; i<data.roonInfo.length;i++){
                room.push("<option value="+data.roonInfo[i].RoomId+">-="+data.roonInfo[i].Title+"=-</option>");
            }
            $('#doc-select-room').html(room.join(''));
        }
      })
    }
		  // 模糊查询
    function queryUser() {
        var companyId = document.getElementById("doc-select-company").value;
        var roomId = document.getElementById("doc-select-room").value;
        console.log("c:",companyId, "r:", roomId);
        $("#data-teacher-list").DataTable().column(0).search(companyId).column(1).search(roomId).draw();
    };
    function initTable() {
        var actionUrl = '/weserver/data/teacher_index';
        var table = $('#data-teacher-list').dataTable({
            "bFilter": true,
            "bAutoWidth": false,
            "sPaginationType": 'full_numbers',
            "bPaginate": true,
            "bDestroy": true,
            "bProcessing": true,
            "sAjaxSource": actionUrl,
            "iDisplayLength": 10,
            "aLengthMenu": [
                [10, 15, 20, 50, -1],
                [10, 15, 20, 50, "All"]
            ],
            "bServerSide": true,
            "bSort": false,
            "aoColumns": [
                {"mDataProp": "CompanyName",},
                {"mDataProp": "Room",},
                {"mDataProp": "Name",},
                {"mDataProp": "Icon",
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<img  width='35px' height='35px'  src='"+sData+"'>");
                    }
                },
                {"mDataProp": "Data",},
                {"mDataProp": "Id",
                    "fnCreatedCell": function(nTd, sData, oData, iRow, iCol) {
                         $(nTd).html("<div class='am-btn-group am-btn-group-xs'><a class='am-btn am-btn-default am-btn-xs am-text-secondary' title='讲师编辑' href='teacher_edit?id="+sData+"'><span class='am-icon-pencil-square-o'></span> 编辑</a><a class='am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only' title='讲师删除' onclick='deleteFun(" + oData.Id + ");'><span class='am-icon-trash-o'></span> 删除</a></div>");
                    }
                },
            ],
            "oLanguage": {
                "sProcessing": "正在加载中...",
                "sLengthMenu": "每页显示 _MENU_ 条记录，",
                "sZeroRecords": "没有数据！",
                "sEmptyTable": "表中无数据存在！",
                "sInfo": "_START_ - _END_ / 共 _TOTAL_ 条",
                "sInfoEmpty": "0 - 0 / 共 0 条",
                "sInfoFiltered": "",
                "sSearch": "搜索",
                "oPaginate": {
                    "sFirst": "首页",
                    "sPrevious": "上一页",
                    "sNext": "下一页",
                    "sLast": "末页"
                }
            },
            "dom": "<'row'<'col-sm-6'><'col-sm-6'>> <'row'<'col-sm-12'rt>> <'am-g'<'am-u-sm-6'li><'am-u-sm-6'p>>",
        });
        return table;
    }

    function search(){
        var room = $("#doc-select-room").val();
        
    }

    /**
    table刷新表格
    */
    $.fn.dataTableExt.oApi.fnReloadAjax = function(oSettings) {
        this.fnClearTable(this);
        this.oApi._fnProcessingDisplay(oSettings, true);
        var that = this;

        $.getJSON(oSettings.sAjaxSource, null, function(json) {
            for (var i = 0; i < json.aaData.length; i++) {
                that.oApi._fnAddData(oSettings, json.aaData[i]);
            }
            oSettings.aiDisplay = oSettings.aiDisplayMaster.slice();
            that.fnDraw(that);
            that.oApi._fnProcessingDisplay(oSettings, false);
        });
    }

    // 删除模态层
    function deleteFun(delid){
        $('#del-confirm').modal()
        $(".data-modal-del").val(delid);
    }
    // 删除方法
    function deleteModel(){
        var Id = $(".data-modal-del").val();
        $.ajax({
            url: '/weserver/data/teacher_del',
            type: 'POST',
            data: {id: Id},
            success: function(rsp){
                if (rsp.status){
                    alert(rsp.info);
                    oTable.fnReloadAjax(oTable.fnSettings());
                }else{
                    alert(rsp.info);
                }
            }
        })
    }
    // 模态退出
    $('#del-confirm').on('closed.modal.amui', function() {
        $(this).removeData('amui.modal');
        $(".data-modal-del").val("");
    });
</script>
