<style type="text/css">
  legend{border-bottom: 0px;}
  .file-wrap {width: 165px;overflow: hidden;}
  .file-imgWrap {margin-bottom: 10px;}
  .file-imgWrap > img{width: 60px; height: 60px;margin: 10px 10px 5px 0;border: 3px solid #fff;box-shadow: 0 0 3px rgba(0,0,0,.35);cursor: pointer;transition: 0.3s ease;}
  .file-imgWrap > img:hover{box-shadow: 0 0 3px 0px rgba(33, 118, 193,1);-webkit-transform:scale(1.05);-moz-transform:scale(1.05);transform:scale(1.05)}
  .file-imgWrap > img.current {border-radius: 5px;box-shadow: 0 0 10px 1px rgba(33, 118, 193, 1);}
</style>
<script type="text/javascript" src="/static/js/jquery.uploadify.js"></script>
<script type="text/javascript" src="/static/js/jquery.easyui.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#userIcon').uploadify({
        'swf'      : '/static/img/uploadify.swf',// uploadify.swf 文件的相对JS文件的路径
        'uploader' : '/weserver/data/upload',//后台处理程序的相对路径
        'floder': '/upload/user_icon',          
        'fileSizeLimit': '120KB',
        'queueID': 'fileQueue',
        'queueSizeLimit': 999999999,
        'uploadLimit': 999999999,
        //'progressData': 'speed',
        'auto': true,
        'multi': false,
        'buttonClass' : 'some-class',//自定义的样式类名
        //'queueID'  : 'some_file_queue',
        //'buttonCursor' : 'arrow',
        //'buttonText': '上传图片',
        'buttonTitle': '提示文字',
        'buttonImage':'/static/images/i/img/upload_file.png',
        'requeueErrors' : true,
        'debug': false,
        'height'   : 28, // The height of the flash button
        'width'    : 155, // The width of the flash button
        'itemTemplate':false,
        'successTimeout': 30,//设置文件上传后等待服务器响应的秒数，超出这个时间，将会被认为上传成功，默认为30秒
        'fileTypeExts': '*.bmp;*.jpg;.jpeg;*.png;*.gif',//设置允许上传的文件扩展名（也就是文件类型）。但手动键入文件名可以绕过这种级别的安全检查，所以你应该始终在服务端中检查文件类型。输入多个扩展名时用分号隔开('*.*;*.jpg;*.png;*.gif')
        'fileTypeDesc': '文件格式',//可选文件的描述。这个值出现在文件浏览窗口中的文件类型下拉选项中。（但我设置了好像没效果？原文：The description of the selectable files.  This string appears in the browse files dialog box in the file type drop down.）
        'fileObjName':'Filedata', //设置后台的文件名
        'method'   : 'post',
        'formData': {"uploadtype":"userIcon"},
        'onUploadSuccess': function(file,data,response){
          if(data!=null){
            data = jQuery.parseJSON(data);
            if(data.status){
              $("input[name=userIconFile]").val(data.url);
              $("#previewico").attr("src",data.url);
            }
          }
        },
        'onSelectError':function(file,data,response){
          if(data!=null){
            data = jQuery.parseJSON(data);
            if(data.status){
              var str = data.url;
              switch(errorCode) {
                case -110:
                    alert("文件 ["+str+"] 大小超出系统限制的" + jQuery('#Img').uploadify('settings', 'fileSizeLimit') + "大小！");
                    break;
                case -120:
                    alert("文件 ["+str+"] 大小异常！");
                    break;
                case -130:
                    alert("文件 ["+str+"] 类型不正确！");
                    break;
              }
            }
          }
        },
    });


  });
</script>
<div class="crumb-wrap">
    <div class="crumb-list"><i class="icon-font"></i><a href="/public/index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name"><a href="/weserver/user/index">用户管理</a></span><span class="crumb-step">&gt;</span><span class="crumb-name">添加用户</span></div>
</div>
<div class="am-g">
  <div class="am-u-lg-6">
    <form action="adduser?action=add" id="userform" class="am-form" method="post" data-am-validator>
      <fieldset>
        <legend></legend>
        <div class="am-form-group">
          <label for="doc-vld-name-2">用户名：</label>
          <input type="text" name="account" id="doc-vld-name-2" minlength="4" onkeyup="value=value.replace(/[\W]/g,'') " onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"  data-validation-message="输入用户名(最少4位英文或数字)"  placeholder="输入用户名(请输入英文或数字)" required/>
        </div>
        <div class="am-form-group">
          <label for="doc-vld-email-2">邮箱：</label>
          <input type="email" name="email" id="doc-vld-email-2" data-validation-message="输入邮箱" placeholder="输入邮箱"/>
        </div>
        <div class="am-form-group">
          <label for="doc-vld-phone-2">手机：</label>
          <input type="text" name="phone" id="doc-vld-phone-2" data-validation-message="输入手机" placeholder="输入手机"/>
        </div>
        <div class="am-form-group">
          <label for="doc-vld-url-2">昵称：</label>
          <input type="text" name="nickname" id="doc-vld-url-2" data-validation-message="输入昵称" placeholder="输入昵称"/>
        </div>
        <div class="am-form-group">
          <label for="doc-vld-pick-2">头像选择(选择默认头像或者上传头像)：</label>
          <a class="am-icon-question-circle " data-am-popover="{theme: 'sm',content: '你可以选择默认头像，也可以选择本地文件上传', trigger: 'hover focus'}"></a>
          <h4>选择默认头像：</h4>
          <div class="file-imgWrap">
            <img class="current" src="/static/images/defaultPick/01.jpg" alt="">
            <img src="/static/images/defaultPick/02.jpg" alt="">
            <img src="/static/images/defaultPick/03.jpg" alt="">
            <img src="/static/images/defaultPick/04.jpg" alt="">
            <img src="/static/images/defaultPick/05.jpg" alt="">
            <img src="/static/images/defaultPick/06.jpg" alt="">
            <img src="/static/images/defaultPick/07.jpg" alt="">
            <img src="/static/images/defaultPick/08.jpg" alt="">
            <img src="/static/images/defaultPick/09.jpg" alt="">
            <img src="/static/images/defaultPick/10.jpg" alt=""><br/>
    
            <img src="/static/images/defaultPick/11.jpg" alt="">
            <img src="/static/images/defaultPick/12.jpg" alt="">
            <img src="/static/images/defaultPick/13.jpg" alt="">
            <img src="/static/images/defaultPick/14.jpg" alt="">
            <img src="/static/images/defaultPick/15.jpg" alt="">
            <img src="/static/images/defaultPick/16.jpg" alt="">
            <img src="/static/images/defaultPick/17.jpg" alt="">
            <img src="/static/images/defaultPick/18.jpg" alt="">
            <img src="/static/images/defaultPick/19.jpg" alt="">
            <img src="/static/images/defaultPick/20.jpg" alt=""><br/>

            <img src="/static/images/defaultPick/21.jpg" alt="">
            <img src="/static/images/defaultPick/22.jpg" alt="">
            <img src="/static/images/defaultPick/23.jpg" alt="">
            <img src="/static/images/defaultPick/24.jpg" alt="">
            <img src="/static/images/defaultPick/25.jpg" alt="">
            <img src="/static/images/defaultPick/26.jpg" alt="">
            <img src="/static/images/defaultPick/27.jpg" alt="">
            <img src="/static/images/defaultPick/28.jpg" alt="">
            <img src="/static/images/defaultPick/29.jpg" alt="">
            <img src="/static/images/defaultPick/30.jpg" alt=""><br/>

            <img src="/static/images/defaultPick/31.jpg" alt="">
            <img src="/static/images/defaultPick/32.jpg" alt="">
            <img src="/static/images/defaultPick/33.jpg" alt="">
            <img src="/static/images/defaultPick/34.jpg" alt="">
            <img src="/static/images/defaultPick/35.jpg" alt="">
            <img src="/static/images/defaultPick/36.jpg" alt="">
            <img src="/static/images/defaultPick/37.jpg" alt="">
            <img src="/static/images/defaultPick/38.jpg" alt="">
            <img src="/static/images/defaultPick/39.jpg" alt="">
            <img src="/static/images/defaultPick/40.jpg" alt="">
          </div>

                  <div class="am-form-group">
          <label for="doc-vld-Title-2">上传头像(请上传格式为jpg,png的文件)：</label>
            <input type="file" name="userIcon" id="userIcon" multiple="true"/>
            <input type="hidden" name="userIconFile" id="userIconFile" multiple="true" /> 
        </div>
        <div class="am-form-group" >
            <img id="previewico"  style="width:70px;height: 70px;border: 0px;soild:#FFFFFF; " />
        </div>

        <div class="am-form-group">
          <label for="doc-vld-age-2">密码：</label>
          <input type="password" name="password" id="doc-vld-age-2" data-validation-message="输入密码(至少6个字符)" placeholder="输入密码(至少6个字符)" min="6" required />
        </div>
        <div class="am-form-group">
          <label>用户状态  <a class="am-icon-question-circle "data-am-popover="{theme: 'sm',content: '状态为开启时可以正常登陆,关闭时无法登陆', trigger: 'hover focus'}"></a>： </label>
          <label class="am-radio-inline">
            <input type="radio"  value="2" name="status" required checked> 开启
          </label>
          <label class="am-radio-inline">
            <input type="radio" value="1" name="status"> 关闭
          </label>
        </div>
        <!--
        <div class="am-form-group">
          <label>审核状态  <a class="am-icon-question-circle "data-am-popover="{theme: 'sm',content: '状态为开启时可以正常登陆,关闭时无法登陆', trigger: 'hover focus'}"></a>： </label>
          <label class="am-radio-inline">
            <input type="radio"  value="2" name="regstatus" required checked> 开启
          </label>
          <label class="am-radio-inline">
            <input type="radio" value="1" name="regstatus"> 关闭
          </label>
        </div>-->
        <div class="am-form-group">
          <label for="doc-select-1">公司名  <a class="am-icon-question-circle "data-am-popover="{theme: 'sm',content: '赋予用户的所属公司', trigger: 'hover focus'}"></a></label>
          <!--<select  onchange="choosecompany(this.selectedIndex)" id="doc-select-1" name="company" required data-validation-message="请选择公司名">-->
            <select   id="doc-select-1" name="company"  required data-validation-message="请选择公司名" onchange="getRoomInfo()">
            <option value="">-=请选择所属公司=-</option>
           <!-- {{range .CompanyList}}
            <option value="{{.Id}}">{{.Company}}</option>
            {{end}} -->

          </select>
          <span class="am-form-caret"></span>
        </div>
        <div class="am-form-group">
          <label for="doc-select-1">角色  <a class="am-icon-question-circle "data-am-popover="{theme: 'sm',content: '赋予用户的初始角色', trigger: 'hover focus'}"></a></label>
          <select id="doc-select-1" name="role" required data-validation-message="请选择角色">
            <option value="">-=请选择角色=-</option>
            {{range .RoleList}}
            <option value="{{.Id}}">{{.Title}}</option>
            {{end}}
          </select>
          <span class="am-form-caret"></span>
        </div>
        <div class="am-form-group">
          <label for="doc-select-1">头衔  <a class="am-icon-question-circle "data-am-popover="{theme: 'sm',content: '赋予用户的初始头衔', trigger: 'hover focus'}"></a></label>
          <select id="doc-select-1" name="title" required data-validation-message="请选择头衔">
            <option value="">-=请选择头衔=-</option>
            {{range .TitleList}}
            <option value="{{.Id}}">{{.Name}}</option>
            {{end}}
          </select>
          <span class="am-form-caret"></span>
        </div>
        <div class="am-form-group">
          <label for="doc-vld-ta-2">备注：</label>
          <textarea id="doc-vld-ta-2" name="remark"></textarea>
        </div>
        <label for="doc-vld-ta-2">允许进入直播室：</label>
        <div class="am-form-group" id="doc-select-room">
          
          <!--webkit-transform  {{range $index,$ele := .roonInfo}}
              <label class="am-checkbox-inline">
                <input type="checkbox" name="RoomId" value="{{$ele.RoomId}}"> {{$ele.RoomTitle}}
              </label>
            {{end}} -->
        </div>
        <button class="am-btn am-btn-secondary" type="submit">提交</button>
      </fieldset>
    </form>
  </div>
</div>

<script type="text/javascript">
$(function() {
    getCompanyInfo();
  $('#userform').validator({
    onValid: function(validity) {
      $(validity.field).closest('.am-form-group').find('.am-alert').hide();
    },

    onInValid: function(validity) {
      var $field = $(validity.field);
      var $group = $field.closest('.am-form-group');
      var $alert = $group.find('.am-alert');
      // 使用自定义的提示信息 或 插件内置的提示信息
      var msg = $field.data('validationMessage') || this.getValidationMessage(validity);

      if (!$alert.length) {
        $alert = $('<div class="am-alert am-alert-danger"></div>').hide().
          appendTo($group);
      }

      $alert.html(msg).show();
    }
  });
       // max - 期望的最大值
  // min - 期望的最小值
  parseInt(Math.random()*(40-1+1)+1,10);
  var iconNum =  Math.floor(Math.random()*(40-1+1)+1);
  var currentImg = ""
  if(iconNum < 10){
   currentImg = "/static/images/defaultPick/0"+iconNum+".jpg"
  }else{
    currentImg = "/static/images/defaultPick/"+iconNum+".jpg"
  }
  $('#userIconFile').val(currentImg)
  $('#previewico').attr('src', currentImg);
 });

function choosecompany(index){
  $.ajax({
      url: '/weserver/public/choosecompany',
      type: 'POST',
      data: index,
      success: function(rsp){
      }
  })
}

function onchangeFile(){
  var fileValue = document.getElementById('doc-form-file').value;
  var currentImg = document.getElementById('file-currentImg');
  if (fileValue !== "") {
    currentImg.setAttribute("src",fileValue);
    currentImg.style.display = "block";
  } else {
    currentImg.style.display = "none";
  }
}

$('.file-imgWrap > img').click(function() {
  var currentImg = $(this).attr('src');
  $('#previewico').attr('src', currentImg);
   $('#userIconFile').val(currentImg)
  $(this).addClass('current').siblings().removeClass('current');
});

     function getCompanyInfo() {
      $.ajax({
        url: '/weserver/common/getCompanyInfo',
        type: 'POST',
        success: function(data){
            var company = ["<option value=''>-=所属公司=-</option>"];
            for (var i = 0; i<data.CompanyList.length;i++){
                company.push("<option value="+data.CompanyList[i].Id+">-="+data.CompanyList[i].Company+"=-</option>");
            }
            $('#doc-select-1').html(company.join(''));
        }
      })
    }

    function getRoomInfo() {
      var companyId = document.getElementById("doc-select-1").value;
      $.ajax({
        url: '/weserver/common/getRoomInfo',
        type: 'POST',
        data: {
          CompanyId: parseInt(companyId, 10),
        },
        success: function(data){
            var room = ["<label class='am-checkbox-inline'></label>"];
            for (var i = 0; i<data.roonInfo.length;i++){
                //room.push("<option value="+data.roonInfo[i].RoomId+">-="+"=-</option>");
             // var a =   '<input type="checkbox" name="RoomId" value="'+data.roonInfo[i].RoomId+'">+data.roonInfo[i].Title';
              room.push("<input type='checkbox' name='RoomId' value='"+data.roonInfo[i].RoomId+"'>"+data.roonInfo[i].Title+"&nbsp;&nbsp;");
            }
            $('#doc-select-room').html(room.join(''));
        }
      })
    }

</script>